// bower:scss
// endbower
@import "compass/css3/box-shadow";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.display-inline {
  display: inline-block;
}
.display-block {
  display: block;
}
.column-container {
  overflow-x: scroll;
}

.font-small-caps {
  font-variant: small-caps;
}

.color-cta {
  color: darkred;
}

.cursor-pointer {
  cursor: pointer;
}
.column-wrapper {
  white-space: nowrap;
  max-width: 100000px;
  min-width: 100%;
}

.column-item {
  display: inline-block;
  width: 300px;
  float: left;
  margin-right: 10px;
  white-space: normal;
  border-top-width: 5px;
  border-top-style: solid;
}

.column-container-wrapper {
  margin-top: 10px;
}

//.column-container-wrapper {
//  margin: 5px 0;
//  position: relative;
//  overflow: hidden;
//}
//
//.column-container-wrapper:before, .column-container-wrapper:after {
//  content: " ";
//  position: absolute;
//  top: 0px;
//  bottom: 0px;
//  width: 5px;
//  z-index: 1000;
//}
//
//.column-container-wrapper:before {
//  left: -5px;
//  @include single-box-shadow(rgba(0, 1, 3, 0.15), 4px, 0px, 6px);
//}
//
//.column-container-wrapper:after {
//  right: -5px;
//  @include single-box-shadow(rgba(0, 1, 3, 0.15), -4px, 0px, 6px);
//}
//
//.absolute-left:before {
//  content: none;
//}
//
//.absolute-right:after {
//  content: none;
//}

.animation-fade.ng-enter {
  animation: fadeIn 0.5s;
}

.animation-fade.ng-leave {
  animation: fadeOut 0.5s;
}


$colors : #c1ddc7, #d7db7d, #bbcd77, #dfc590, #e4cdbf;

@for $i from 1 through length($colors) {
  .color-#{$i} {
    border-color: nth($colors, $i);

    @for $j from 1 through 10 {
      .color-weight-#{$j} {
        background-color: rgba(nth($colors, $i), $j/10);
        border: 2px solid rgba(nth($colors, $i), 0);
        &:hover {
          border: 2px dashed darken(nth($colors, $i), 20%);
        }
//        background-blend-mode: soft-light;
//        background-blend-mode: multiply;
      }
    }
  }
}

.color-new {
  border-color: #ccc;
}

.topic-entity {
  padding: 5% 7%;
}

.typeahead-wrapper ul {
  max-height: 443px;
  overflow-y: scroll;
}

.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  svg path,
  svg rect{
    fill: #FF6700;
  }
}
