// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.column-container {
  overflow-x: scroll;
}

.column-wrapper {
  white-space: nowrap;
  max-width: 100000px;
  min-width: 100%;
}

.column-item {
  display: inline-block;
  width: 300px;
  float: left;
  margin-right: 10px;
  white-space: normal;
}


$colors : #c1ddc7, #d7db7d, #bbcd77, #dfc590, #e4cdbf;

@for $i from 1 through length($colors) {
  .color-#{$i} {
    @for $j from 1 through 10 {
      .color-weight-#{$j} {
        background-color: rgba(nth($colors, $i), $j/10);
      }
    }
  }
}

.topic-entity {
  padding: 5% 7%;
}

.typeahead-wrapper ul {
  max-height: 443px;
  overflow-y: scroll;
}

