// bower:scss
// endbower
@import "compass/css3/box-shadow";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.display-inline {
  display: inline-block;
}
.display-block {
  display: block;
}
.column-container {
  overflow-x: scroll;
}

.font-small-caps {
  font-variant: small-caps;
}

.font-bold {
  font-weight: bold;
}

.color-cta, .color-cta:hover {
  color: darkred;
}

.cursor-pointer {
  cursor: pointer;
}
.column-wrapper {
  white-space: nowrap;
  max-width: 100000px;
  min-width: 100%;
}

.column-item {
  display: inline-block;
  width: 300px;
  float: left;
  margin-right: 10px;
  white-space: normal;
  border-top-width: 5px;
  border-top-style: solid;
}

.column-container-wrapper {
  margin-top: 10px;
}

//.column-container-wrapper {
//  margin: 5px 0;
//  position: relative;
//  overflow: hidden;
//}
//
//.column-container-wrapper:before, .column-container-wrapper:after {
//  content: " ";
//  position: absolute;
//  top: 0px;
//  bottom: 0px;
//  width: 5px;
//  z-index: 1000;
//}
//
//.column-container-wrapper:before {
//  left: -5px;
//  @include single-box-shadow(rgba(0, 1, 3, 0.15), 4px, 0px, 6px);
//}
//
//.column-container-wrapper:after {
//  right: -5px;
//  @include single-box-shadow(rgba(0, 1, 3, 0.15), -4px, 0px, 6px);
//}
//
//.absolute-left:before {
//  content: none;
//}
//
//.absolute-right:after {
//  content: none;
//}

.animation-fade.ng-enter {
  animation: fadeIn 0.5s;
}

.animation-fade.ng-leave {
  animation: fadeOut 0.5s;
}


$colors : #c1ddc7, #d7db7d, #bbcd77, #dfc590, #e4cdbf, #F08278, #CAE8D1, #819D97, #3A3748, #757968;
//$colors: #f44336, #673ab7, #3f51b5, #2196f3, #009688, #4caf50, #ffeb3b, #ff9800, #607d8b;

.topic-text {
  border-right: 5px solid white;
  font-family: 'Lora', Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,.75);
  letter-spacing: .01em;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 0.5%;
}

.vertical-middle {
  @include vertical-align;
}

.topic-name {
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
  font-size: 110%;
}


@for $i from 1 through length($colors) {
  .color-#{$i}-bg {
    background-color: nth($colors, $i);
  }

  .color-#{$i}-bg-light {
    background-color: rgba(nth($colors, $i), 0.2);
  }

  .color-#{$i}-color {
    color: nth($colors, $i);
  }

  .color-#{$i} {
    border-color: nth($colors, $i);

    @for $j from 1 through 10 {
      .color-weight-#{$j} {
        background-color: rgba(nth($colors, $i), $j/10);
        border: 2px solid rgba(nth($colors, $i), 0);
        &:hover {
          border: 2px dashed darken(nth($colors, $i), 20%);
        }
//        background-blend-mode: soft-light;
//        background-blend-mode: multiply;
      }
    }
  }
}

.color-new {
  border-color: #ccc;
}

.topic-entity {
  padding: 5% 7%;
}

.typeahead-wrapper ul {
  max-height: 443px;
  overflow-y: scroll;
}

.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  svg path,
  svg rect{
    fill: #FF6700;
  }
}

.progress-bar {
  color: #777;
}

.evaluation-container {
  margin-top: 2.5%;
}

.evaluation-widget {
  font-size: 1.8rem;
  .evaluation-header {
    font-variant: small-caps;
  }

  .evaluation-values {
    font-size: 2rem;
    font-weight: bold;
    color: lighten(#333, 30%);
    vertical-align: baseline;
    line-height: 1.6;
    .important {
      color: #333;
      font-size: 2.5rem;
    }
  }
}
