<div ng-controller="AnalyzeText" class="container-fluid">
  <div class="row">
    <h1>Classify an article</h1>
  </div>
  <div class="row" style="margin-top:30px">
    <div class="col-md-2">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Article selection</h3>
          </div>
          <div class="panel-body">

            <input id="fileUpload" type="file" on-read-file="showContent($fileContent)" style="display: none"/>
            <a ng-click="uploadClick()" class="btn btn-primary btn-block">Upload your article</a>
            <a ng-click="uploadClick()" class="btn btn-default btn-block">Try example A</a>
            <a ng-click="uploadClick()" class="btn btn-default btn-block">Try example B</a>
            <p></p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Classifier model</h3>
          </div>
          <div class="panel-body">
            <spinner ng-hide="models.length"></spinner>
            <select ng-show="models.length" style="max-width: 100%;" ng-model="selectedModel"
                    ng-change="startClassifyTexts()"
                    ng-options="model.id as model.desc for model in models"></select><br>

            <a ng-if="selectedModel" class="btn btn-default btn-small" ng-href="/#/models/{{selectedModel}}/">show
              model</a>
          </div>
        </div>
      </div>
      <!--<div class="row">-->
        <!---->
        <!--<a ng-if="analyzedText" class="btn btn-primary btn-small" ng-click="startClassifyTexts()">analyze again</a>-->
      <!--</div>-->
    </div>

    <div class="col-md-9">
      <spinner ng-show="loading"></spinner>
      <div ng-show="error" class="text-center" >
        <h4>Sorry something went wrong :(</h4>
        <iframe src="http://giphy.com/embed/PSyqVLhwDvjXO?html5=true" width="480" height="266" frameBorder="0"
                webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <div ng-if="analyzedText && (loading == false)">
        <div class="row" ng-show="topicCoverages">
          <div class="col-md-offset-1 col-md-8">
            <div class="progress">
              <div class="progress-bar" ng-class="topicProgressClass(topic.name)" ng-if="topic.coverage > 0"
                   ng-style="topicCoverageStyle(topic)" ng-repeat="topic in topicCoverages">
                <span>{{topic.name}}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="row" ng-repeat="p in analyzedText">
          <div class="col-md-offset-1 col-md-8 topic-text" ng-class="topicBorderClass(p.category)">
            {{p.text}}
          </div>
          <div class="col-md-2">
            <span ng-show="p.category.name" class="topic-name vertical-middle" ng-class="topicColorClass(p.category)"> {{p.category.name}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
