<article ng-show="entity.uri" class="row panel" style="margin-top:10px;">
  <div ng-class="{'col-md-9':entity.image.thumbnail, 'col-md-12':!entity.image.thumbnail}">
    <h5>{{entity.title}} <small><a ng-href="{{entity.uri}}" target="_blank" style="font-variant: small-caps">wikipedia</a></small></h5>
    <p style="height: 100px;overflow-y:scroll">
      {{entity.abstract}}
    </p>
    <div>
      <rating ng-model="entity.weight" max="maxrating" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
    </div>
  </div>
  <div ng-show="entity.image.thumbnail" class="col-md-3">
    <img  ng-src="{{entity.image.thumbnail}}" style="width:100%;">
  </div>
</article>


