<div class="row" style="margin:1% 0">
  <h3>Confusion Matrix <small><a href="https://en.wikipedia.org/wiki/Confusion_matrix" target="_blank"><i class="glyphicon glyphicon-info-sign"></i></a></small></h3>
</div>
<div class="row">

  <div class="col-md-6">
    <table class="table table-hover text-center">
      <tr>
        <td colspan="12">Test Outcome</td>
      </tr>
      <tr>
        <th></th>
        <th ng-repeat="th in topicList">{{th}}</th>
        <th><small>total</small></th>
      </tr>
      <tr ng-repeat="topic in topicList">
        <th>{{topic}}</th>
        <td ng-repeat="tl in topicList" ng-class="{'font-bold':(topic===tl)}">
          <a ng-if="tl !== 'empty' &&  matrix[topic][tl].count " class="cursor-pointer" ng-class="{'color-cta':matrix[topic][tl].max}" ng-click="showRelevantEntities(matrix[topic][tl].entities)">
            {{displayValue(topicCount[topic], matrix[topic][tl].count)}}%
          </a>
          <span ng-if="tl === 'empty' && matrix[topic][tl].count">
            {{displayValue(topicCount[topic], matrix[topic][tl].count)}}%
          </span>
          <span ng-if="!matrix[topic][tl].count">-</span>
        </td>

        <td style="border-left:1px solid #ccc;"><small>{{topicCount[topic]}}</small></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <ul>
      <li ng-repeat="(entity, count) in relevantEntities">{{entity}} [{{count}}]</li>
    </ul>

  </div>

</div>

