<div class="row" style="margin:1% 0">
  <h3>Confusion Matrix <small><a href="https://en.wikipedia.org/wiki/Confusion_matrix" target="_blank"><i class="glyphicon glyphicon-info-sign"></i></a></small></h3>
</div>
<div class="row">

  <div class="col-md-6">
    <table class="table table-hover text-center">
      <tr>
        <td colspan="12" class="font-small-caps">Test Outcome</td>
      </tr>
      <tr>
        <th></th>
        <th ng-repeat="th in topicList">{{th}}</th>
        <th><small>total</small></th>
      </tr>
      <tr ng-repeat="topic in topicList">
        <th>{{topic}}</th>
        <td ng-repeat="tl in topicList" ng-class="{'font-bold':(topic===tl)}">
          <a ng-if="tl !== 'empty' &&  matrix[topic][tl].count "
             class="cursor-pointer" ng-class="{'color-cta':matrix[topic][tl].max}"
             title="{{matrix[topic][tl].count}} frames"
             ng-click="showRelevantEntities(matrix[topic][tl].entities)">
            {{displayValue(topicCount[topic], matrix[topic][tl].count)}}%
          </a>
          <span ng-if="tl === 'empty' && matrix[topic][tl].count"
                title="{{matrix[topic][tl].count}} frames">
            {{displayValue(topicCount[topic], matrix[topic][tl].count)}}%
          </span>
          <span ng-if="!matrix[topic][tl].count">-</span>
        </td>

        <td style="border-left:1px solid #ccc;"><small>{{topicCount[topic]}}</small></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6" ng-show="relevantEntities.length" style="padding-left: 20px;">
    <h4>Most relevant classified entities:</h4>
    <ul class="list-unstyled">
      <li ng-repeat="relevantEntity in relevantEntities | orderBy:'count':true" style="margin-bottom: 10px;">
        <span class="badge" style="min-width: 30px;margin-right: 5px;">{{relevantEntity.count}}</span> <a class="font-small-caps" ng-href="{{relevantEntity.entity}}">{{getTopicName(relevantEntity.entity)}}</a>
      </li>
    </ul>


  </div>

</div>

