<!--<div style="height: 200px; background-size: cover; background-image: url('{{entityData.topic.image.thumbnail}}')">-->
<div>
  <!--<img ng-show="entityData.imageThumbnail" ng-src="{{entityData.imageThumbnail}}">-->
  <!--<img ng-hide="entityData.imageThumbnail" src="">-->
  <div class="panel">
    <a href="{{entity.wikipage}}" target="_blank">{{entity.name}} <small>{{entity.weigth}}</small></a>
    <a ng-click="deleteEntity()" style="color:darkred;" ng-if="editMode">X</a>
  </div>
  <!--<div>-->
  <!--</div>-->

</div>

