<div class="modal-header clearfix">
  <h3 style="display:inline-block" class="modal-title">Launch tests</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="row">
        <label for="selectedModelInput">Classifier model</label>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <select ng-model="selectedModel" id="selectedModelInput">
            <option ng-repeat="model in data" value="{{model.id}}">{{model.name}}</option>
          </select>
        </div>

      </div>

      <div class="row" style="margin-top:5%;">
        <label class="control-label" for="classifierPrecision">Classifier precision</label>
      </div>
      <div class="row">
        <div class="col-sm-3 text-right">Less precision</div>
        <div class="col-sm-6">
          <input id="classifierPrecision" type="range" min="0.1" max="0.4" step="0.05"
                 ng-model="threshold"/>
        </div>
        <div class="col-sm-3">More precision</div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
