<div ng-controller="CustomModelsListCtrl" class="container">
    <div class="row">
        <h1>Models list</h1>
    </div>

    <spinner ng-show="models == null"></spinner>

    <div ng-if="models">
        <div class="row" ng-repeat="model in models">
            <h3 style="font-variant: small-caps;"><a ng-href="/#/models/{{model.id}}">{{model.name}}</a></h3>

            <ul class="inline-list">
                <li ng-repeat="topic in model.topics">
                    <a ng-href="/#/models/{{model.id}}">{{topic.name}} ({{topic.size}})</a>
                </li>
            </ul>
        </div>
    </div>
</div>
