<div ng-controller="CustomModelsCtrl" class="container">
    <div ng-if="model">
        <div class="row">
            <h1>{{model.description}} <small>{{model.id}}</small></h1>
        </div>
        <div class="row">

          <div class="btn-group right">
            <a ng-hide="editMode" ng-click="enterEditMode()" class="btn btn-sm btn-default" >edit</a>
            <a ng-show="editMode" ng-click="handlingSave()" class="btn btn-sm btn-danger" >save</a>
            <a ng-show="editMode" ng-click="handlingCancel()" class="btn btn-sm btn-default" >cancel</a>
          </div>
        </div>
        <div class="column-container-wrapper">
          <div class="row column-container">
            <div class="col-lg-12 column column-wrapper" ng-style="categoriesStyle">
            <!--<div class="large-12 column column-wrapper" >-->
              <article ng-repeat="category in model.categories" class="column-item" ng-class="generateCategoryColor($index)" data-equalizer-watch>
                  <div><h4 style="font-variant: small-caps">{{category.name}}</h4></div>
                  <div class="topic-entity animation-fade" ng-class="generateEntityColor(topic)" ng-repeat="topic in category.topics | orderBy:'weight':true">
                    <topic-entity entity="topic" edit-mode="editMode" category="category.name"></topic-entity>
                  </div>
                  <div class="cta-button">
                      <a class="btn btn-small btn-default" ng-click="openAddTopic(category.name)">Add</a>
                      <a class="btn btn-small btn-danger" >Delete</a>
                  </div>
              </article>
            </div>
          </div>
        </div>
            <!--<div class="row">-->
              <!--<div class="column column-auto">-->
                <!--<h2 style="font-variant: small-caps;">{{category.name}} <small>#{{category.topics.length}}</small></h2>-->
              <!--</div>-->
              <!--<div class="column column-auto">-->
                <!--<ul class="button-group">-->
                  <!--<li ng-hide="editMode"><a ng-click="enterEditMode()" class="button tiny" >edit</a></li>-->
                  <!--<li ng-show="editMode"><a ng-click="handlingSave()" class="button tiny alert" >save</a></li>-->
                  <!--<li ng-show="editMode"><a ng-click="handlingCancel()" class="button tiny secondary" >cancel</a></li>-->
                <!--</ul>-->
              <!--</div>-->

            <!--</div>-->
            <!--<div class="row row-all-left" data-equalizer>-->
              <!--<div class="large-3 columns" data-equalizer-watch ng-repeat="topic in category.topics | orderBy:weigth">-->
                <!--<topic-entity entity="topic" edit-mode="editMode" category="category.name"></topic-entity>-->
              <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    </div>
</div>
